<footer color="primary" class="footer-container">
    <div class="footer-list">
        <div>
            <a mat-button href="./">{{appName}}</a>
        </div>
        <div class="footer-spacer text-centered">
            <span>{{ copyYear }}</span>
        </div>
        <div>
            <div class="footer-copy">
                <div class="footer-copy-content">
                    <p>
                        <a mat-button href="https://github.com/nonDeath/utn-angular-course.git" target="_blank">
                            <span class="material-icons md-18">code</span>Powered by Marcelo G.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
