<div class="full-height">
    <header>
        <app-toolbar [appName]="title"></app-toolbar>
    </header>

    <main>
        <mat-card class="main-content">
            <mat-card-content>
                <app-register></app-register>
                <br>
                <mat-divider></mat-divider>
                <br>
                <app-login></app-login>
                <br>
                <mat-divider></mat-divider>
                <br>
                <app-home></app-home>
                <mat-divider></mat-divider>
                <br>
                <app-catalog></app-catalog>
                <mat-divider></mat-divider>
                <br>
                <app-detail></app-detail>
            </mat-card-content>
        </mat-card>
    </main>

    <app-footer [appName]="title"></app-footer>
</div>
