.product-card {

}
.product-title {
    width: 100%;
    overflow: hidden;
    height: 32px;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}
.product-thumbnail {
    height: 192px;
    margin-bottom: 15px;
    display: flex;
    img {
        width: 100%;
        margin: auto;
    }
}